.vim/.netrwhist
.vim/backup/*~
.vim/tags/
.vim/view/
.vim/bundle/
.vim/doc/tags
*.swp
*.pyc

# temperary ignore
.vim/bundle/powerline
.vim/.cache/
.vim/bundle/unite-rf/
.vim/haskellmode.config
.vim/swp/

# nvim
.vim/.init.vim-rplugin~
.vim/init.vim
.vim/.vim
.vim/autoload/
.vim/plugged/
